*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .................................................................................................................... */
.container .navbar .nav-item a {
    
    color: #121212;
    font-weight: bolder;
    font-size: 30px;
    font-family:cursive;
    background:#c0c0c0;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    border-color: transparent;
    padding: 6px;
    border-radius: 20px;

}
.container .navbar .nav-item a:hover{
  color: black;
  border-radius: 5px;
  text-shadow: none;
  transform: translateY(80%);
}
/* ............................................................................................................ */
:root {
    --main-font: "Poppins", sans-serif;
    --hero-logo-font: "Herr Von Muellerhoff", cursive;
    --heading-font: "Montserrat", sans-serif;
    --main-background-left-color: #333333;
    --main-background-right-color: #454546;
    --section-width: min(80rem, 80vw);
    --product-details-width: 80%;
    --yellow: #392d02;
    --dark-yellow: #453000;
    --pink: #f654ae;
    --dark-pink: #e6489f;
    --old-price: #dfdfdf;
    --light-red: #eb2f64;
    --white: white;
    --section-heading-font-size: clamp(2.5rem, 2.5vw, 8rem);
    --letter-spacing: 0.04em;
    --border-radius: 10px;
    --add-to-cart-font-size: 1rem;
    --add-to-cart-padding: 0.47em;
    --footer-background: rgba(34, 34, 35, 0.5);
    --nav-item-hover-background: rgba(255, 255, 255, 0.7);
  }

/* ......................................................................
 */
 * {box-sizing: border-box;}
 body {font-family: Verdana, sans-serif;}
 .mySlides {display: none;
border: #121212; 

}
 img {vertical-align: middle;}
 
 /* Slideshow container */
 .slideshow-container {
    
    padding: 130px;
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 
 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active {
   background-color: #717171;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 10s;
 }
 
 /* @keyframes fade {
   from {opacity: .4} 
   to {opacity: 5}
 }
  */
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 300px) {
   .text {font-size: 11px}
 }
/* ........................................................................ */

:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Poiret One', cursive;
    --body-font: 'Cabin', sans-serif;
    --headings-font: 'Herr Von Muellerhoff', cursive;
    --main-font-color-dark: #252525;
    --secondary-font-color: #452a00;
    --body-font-color: #515151;
    --white-color: #fff;
    --dark-bg: #121212;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #271717;
    color: white;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%; 
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    /* padding: 0 2.4rem; */
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5), transparent);
}

.navbar {
    padding-top: 30px;
    font-family: var(--heading-font);
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    font-size: 3.5rem;
    color: var(--dark-yellow);
    font-family:URW Chancery L, cursive	;
    font-size: 4rem;


    letter-spacing: .1rem;
    transition: color .4s;
}
@font-face {
    font-family: myFirstFont;
    src: url(ChrustyRock-ORLA.ttf);
 }
  
 h2 {
    font-family: myFirstFont;
    color: darkgreen;
 }
.container .navbar .logo{
    padding: 30px;
}



.menu-toggle {
    color: var(--white-color);
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    min-height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
    
}

.navbar::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.show .fa-times {
    display: block;
}

.show .fa-bars {
    display: none; 
}

.show .nav-list {
    transform: translateX(0);
}

.show .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.374);
}

.nav-link {
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover {
    color: var(--secondary-font-color);
}

/* HERO SECTION*/

.hero {
    width: 100%;
    height: 100vh;
    /* background: url("img/images/hero-bg.JPEG") center no-repeat; */
    background-size: cover;
    display: flex;
    align-items: center;
}

.headline {
    font-family: var(--main-font);
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

h1.headline {
    font-family:cursive;
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 5.5rem;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: var(--headings-font);
    color: #e5971b;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.sub-headline::first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.btn {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--secondary-font-color);
    color: var(--white-color);
    padding: 2rem 3rem;
    transition: all .4s;
}

.btn-primary:hover {
    background-color: var(--white-color);
    color: var(--secondary-font-color);
}

/* STORY SECTION*/

.global-headline {
    margin-top: 3.9rem;
    text-align: center;
}

.our-story .global-headline {
    margin-top: 6.9rem;
}

.asterisk {
    font-size: 1.2rem;
    color: var(--body-font-color);
    margin: 2.4rem 0;
    opacity: 0;
    animation-name: spin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

.headline-dark {
    /* color: var(--main-font-color-dark); */
    letter-spacing: .7rem;
    margin-right: -.7rem;
    color: white;
}

.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: .42;
}

.row {
    text-align: center;
}

.description {
    margin-bottom: 3rem;
}

.description p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.btn-secondary {
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.btn-secondary::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--main-font-color-dark);
}

.btn-secondary:hover::before,
.btn-secondary:focus::before {
    background-color: var(--main-font-color-dark);
}

/* ALWAYS FRESH */

.always-fresh {
    background: url("img/images/tasteful-recipes.JPEG") center no-repeat;
    background-size: cover;
}

.shared {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU SECTION */

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.menu .description {
    padding-top: 3rem;
    margin-bottom: 0;
}

/* TASTY SECTION */

.tasty {
    background: url("img/images/tasty.JPEG") center no-repeat;
    background-size: cover;
}


/* FOOTER */

footer {
    background-color: var(--dark-bg);
    color: var(--white-color);
    padding: 7rem 0 5rem;
    position: relative;
    text-align: center;
}

.back-to-top {
    background-color: var(--dark-bg);
    border-radius: 50%;
    position: absolute;
    top: -3rem;
    left: 50%;
    width: 7rem;
    height: 7rem;
    transform: translateX(-50%);
}

.back-to-top i {
    display: block;
    color: var(--white-color);
    font-size: 2rem;
    padding: 2rem;
    animation-name: showsUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footer__content {
    overflow: hidden;
}

.footer__content h4 {
    font-size: 1.9rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;

}

footer .asterisk {
    color: var(--secondary-font-color);
    margin: 2.4rem;
}

.footer__content-about {
    margin-bottom: 5.4rem;
}

.footer__content-about p {
    line-height: 1.8;
}

.social-icons {
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: var(--white-color);
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--secondary-font-color);
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border: none;
    outline: none;
}

.newsletter-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--main-font-color-dark);
    font-size: 1.6rem;
    padding: 1px .6rem;
    outline: none;
}

.newsletter-form-box {
    background-color: var(--white-color);
    border-radius: .4rem;
    display: flex;
    overflow-x: hidden;
}

/*                    ABOUT PAGE                      */

/* RESERVATION SECTION */

.small-size-hero {
    height: 20vh;
}

.reservation__container {
    margin: 3rem 0;
}

.reservation__form > * {
    display: block;
    width: 100%;
}

.reservation h4 {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.reservation__form input,
.reservation__form select {
    background: transparent;
    border: 1px solid var(--secondary-font-color);
    margin-bottom: 3rem;
    padding: 1.8rem 2rem;
    outline: none;
    color: var(--body-font-color);
    font-size: 1.3rem;
    font-family: var(--body-font);
}

.reservation__form select {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.submit__reservation {
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

.submit__reservation:hover {
    border: 1px solid var(--secondary-font-color);
}

.margin-bottom {
    margin-bottom: 5rem;
}


/*                    BAKERS PAGE                      */

/* BAKERS SECTION */

.bakers h4 {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.bakers__container img {
    width: 26.5rem;
    height: 36.5rem;
}

.baker {
    text-align: center;
    margin-bottom: 7rem;
}

.baker:last-child {
    margin-bottom: 0;
}

.baker h5 {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: .3rem;
}

.baker .social-icons {
    margin: 1rem 0 0em;
    display: flex;
    justify-content: center;
}

.baker .social-icons i {
    font-size: 2rem;
    color: var(--secondary-font-color);
    padding: .8rem;
}

.baker .social-icons i:hover,
.baker .social-icons i:focus {
    color: #241f17;
}

/* JOIN US SECTION */

.join-us .image {
    display: none;
}

/*                         MEDIA QUERIES                  */

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        min-height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        border: none;
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }

    .active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        left: 0;
        bottom: -3px;
    }

    .sub-headline {
        font-size: 10rem;
    }

    .headline {
        font-size: 4.7rem;
    }

    .story-img {
        max-width: 40rem;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .row > div {
        flex: 1;
    }

    .padding-right {
        padding-right: 7rem;
    }

    .footer__content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer__content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer__content-divider {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .social-icons i {
        opacity: 1;
    }

    .reservation__form {
        display: flex;
        align-items: flex-start;
        margin: 4rem 0 2rem;
    }

    .reservation__form > *:not(:last-child) {
        margin-right: 2rem;
    }

    .bakers__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .bakers__container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .baker:last-child {
        margin-bottom: 7rem;
    }

    .join-us .image {
        display: block;
    }

}

/*          ANIMATIONS           */

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleBigger {
    0% {
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: scale(-360deg);
    }
}

@keyframes showsUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}